/* Common Style */
*{
    margin: 0px;
    padding: 0px;
}
.bg-1{
    background-color: rgba(84, 144,245, 20%);
}

.bg-2{
    background-color: #C6E4D6;
}

.bg-3{
    background-color: #F7EBCF;
}

.bg-1-dark{
    background-color: #5490F5;
}

.bg-2-dark{
    background-color: #09A15C;
}

.bg-3-dark{
    background-color: #FFC239;
}

.fira-sans-general {
    font-family: "Fira Sans", serif;
    font-style: normal;
}


.primary-margin{
    margin: 0px 160px;
    background-color: #f5f5f5;
}


/* navigation bar */
.navigation-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0px;
}

.btn-navbar{
    font-family: 'Fira sans', serif;
    background-color: white;
    border: 1px solid;
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    padding: 15px 30px;
}

.btn-navbar:hover{
    border-color: #006A50;
    background-color: #006A50;
    color: white;
}

/* Banner */
.banner{
    background-color: #C6E4D6;    
    margin: 20px 0px 0px;
    display: flex;
    justify-content: space-between;
    padding: 80px 60px;
    align-items: center;
    border-radius: 24px;
    gap: 54px;
}

.banner-name{
    color: rgba(14, 14, 14, 50%);
    font-size: 24px;
    margin-bottom: 16px;
}

.banner-heading{
    font-size:56px;
    margin-bottom: 30px;
}

.banner-button{
    border: 1px solid;
    border-color: #006A50 solid;
    font-family: "Fira Sans", serif;
    font-size: 18px;
    font-weight: 600px;
    color: white;
    background-color: #006A50;
    padding: 17px 34px;
    border-radius: 8px;    
}

.banner-button:hover{
    border: 1px solid;
    border-color: #006A50;
    background-color: white;
    color: #006A50;
}


.banner-picture{
    height: 400px;
    font-weight: 475px;
}


/* vision card section */
.vision-card-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.vision-card{
    padding: 32px;
    border-radius: 16px;
    max-width: 400px;

}

.future-vision-title{
    font-size: 40px;
    font-weight: 800px;
    margin: 80px 0px 24px;
}

.future-vision-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 70%);
    margin-bottom: 32px;
}

.vision-name{
    color: rgba(14, 14, 14, 80%);
    font-size: 20px;
    margin: 12px 0px 24px;
}

.vision-card-description{
    color: rgba(14, 14, 14, 70%);
    margin-bottom: 24px;
}


.vision-card-button{
    border: 1px solid;
    font-family: "Fira Sans", serif;
    color: white;
    /* background-color: black;  ????*/
    padding: 11px 20px;
    border-radius: 8px;
}

.vision-card-button:hover{
    opacity: 65%;
}

/* quote section */

.quote-section{
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: 2% 15%;
    margin-top: 32px;
    padding: 48px 24px;
    border-radius: 16px;
    border: 1px solid;
    border-color: rgba(14, 14, 14, 15%);
}

.quote-speech{
    line-height: 24px;
    font-size: 16px;
    color: rgba(14, 14, 14, 80%);
}

.quote-author{
    font-size: 20px;
    font-weight: 600px;
    margin-top: 12px;
    margin-bottom: 4px;
}

.author-rank{
    font-size: 16px;
    color: rgba(14, 14, 14, 60%);
}


/* recent news container */

.recent-news-container{
    margin-top: 80px; 
}

.news-section-title{
    font-size: 40px;
    font-weight: bold;
}

.news-section-description{
    color: rgba(14, 14, 14, 70%);
    font-size: 16px;
    margin-top: 24px;
}

.news-card{
    margin-top: 32px;
    padding: 48px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

    border-radius: 24px;
}

.news-title{
    color: rgba(14, 14, 14, 80%);
    font-size: 32px;
    margin-bottom: 12px;
}

.date-and-time{
    display: flex;
    gap: 12px;
    font-size: 16px;
    color: rgba(14, 14, 14, 70%);
    margin-top: 12px;
    
}


.highlight-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 70%);
    margin: 12px 0px 32px;
}

.news-image{
    max-width: 408px;
    max-height: 306px;
    border-radius: 24px;
}

.read-more-btn{
    font-family: "Fira Sans", serif;
    font-size: 18px;
    font-weight: 600px;
    padding: 13px 26px;
    border-radius: 8px;
    background-color: #006A50;
    color: white;
    border: 1px #006A50;
}

.read-more-btn:hover{
    opacity: 80%;
}


/* Donate section */

.donate-section{
    margin-top: 80px;
    padding: 0px 100px;
}


.donate-section-title{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.donate-section-description{
    color: rgba(14, 14, 14, 70%);
    font-size: 16px;
    margin-top: 24px;
    text-align: center;
}

.donation-amount-container{
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
}
.amount-card{
    font-family: "Fira Sans", serif;
    font-weight: bold;
    font-size: 40px;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid;
    border-color: rgba(14, 14, 14, 15%);
    margin-top: 32px;
    text-align: center;
}

.amount-card:hover{
    border-color: #006A50;
    background-color: #006A50;
    color: white;
}

.other-amount-input{
    display: flex;
    justify-content: center;
    margin:32px 124px;
}

.other-amount-input>input{
    font-family: 'Fira sans', serif;
    font-size: 20px;
    color: rgba(14, 14, 14, 30%);
    padding: 20px 400px;
    border-radius:16px;
    border: none;
    box-shadow: 0px 1px rgba(14, 14, 14, 10%);
}



.donate-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.donate-now-button{
    font-family: "Fira Sans", serif;
    text-align: center;
    padding: 17px 34px;
    border-radius: 8px;
    border: 1px solid;
    border-color: rgba(14, 14, 14, 10%);
    color: white;
    background-color: #006A50;
}

.donate-now-button:hover{
    opacity: 80%;
}


/* newsletter section */

.newsletter-section{
    margin: 80px 0px;
    border-radius: 16px;
    padding: 80px 265px;
}

.newsletter-details{
    padding: 0px 64px;
}
.newsletter-title{
    text-align: center;
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: bold;
}
.newsletter-description{
    color: rgba(14, 14, 14, 70%);
    padding: 0px 64px;
    text-align: center;
    margin: 24px 0px;
}



.newsletter-email{
    display: flex;
    gap: 0px;
    justify-content: center;
}
.newsletter-email>input{
    font-family: 'Fira sans', serif;
    font-size: 16px;
    color: rgba(14, 14, 14, 30%);
    border-radius: 10px 0px 0px 10px;
    border: none;
    padding: 18px 403px 18px 40px;

}

.subscribe-btn{
    border-radius: 0px 10px 10px 0px;
    padding: 17px 34px;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid;
    border-color: #006A50;
    background-color: #006A50;
    color: white;
}
.subscribe-btn:hover{
    background-color: #014534;
}

/* footer section */
.footer-section{
    margin: 50px 160px;
}

.footer-title{
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
}

.media-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    gap: 23px;
}